body {
    background: #ffffff;
}

/* CONTAINER */
.top-header, .menu-header__wrapper {
    padding-left: 6%;
    padding-right: 6%;
}





<<<<<<< HEAD

=======
.top-header__social-media a:hover {
    color: #43a906;
   
}
.top-header__social-media i {
    font-weight: 700;
}

/* MENU HEADER */

.menu-header {
	position: sticky;
	top: 0;
}

.menu-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #3D3E3D;
}


.navigation__wrap {
    display: flex;
}

.navigation__link {
    margin-top: 30px;
    padding-right: 6px;
    box-sizing: border-box;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
}

.navigation__link a{
    padding: 0 13px;
    color: #393939;
    transition: .2s;
}

.navigation__link:hover:after, .navigation__wrap .navigation__link_active:after {
    width: 100%;
    background: #4DA91C;
    margin-top: 27px;
    
}
.navigation__link a:hover,
 .navigation__link_active a {
    color: #4DA91C;
}
.navigation__link:after {
    content: '';
    display: block;
    margin:  auto;    
    margin-top: 27px;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;   
}
.navigation__link_margin-none {
    padding-right: 0;
}



/* MEDIA QUERIES */

@media screen and (max-width: 800px) {
    /* TOGGLE */
    .navigation {
        display: none;
        transition: 0.5s;
    }
    
    .toggle-btn {
        border: 1px solid #ddd;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.5s;
    }

    .toggle-btn:hover {
        background-color: #ddd;
    }

    .toggle-btn__element:after {
        content: "\2261";
        font-size: 40px;
        color: #888;
        line-height: 14px;
        display: block;
        padding: 10px 11px;
    }

    .nav-toggle {
        display: block;
        position: absolute;
        top: 43px;
        left: 0;
        right: 0;
        padding: 0 50px;
        text-align: center;
    }

    .nav-toggle .navigation__wrap {
        display: block;
    }

}
>>>>>>> 2c1f202c82e476d9fcad9c7dfddf94fe925cb8a9




